<% content_for :title do %>Code Sample:
    <%= @sample_name %>
<% end %>
<ol class="breadcrumb">
  <li><%= link_to 'Hash Notes', notes_home_path %></li>
  <li><%= link_to 'More', notes_home_path(:anchor => 'hashAdvanced') %></li>
  <li><%= link_to 'Basic Use', notes_home_path(:anchor => 'hashBasics') %></li>
  <li class="active"><%= yield(:title) %></li>
</ol>
<form class="form-inline" novalidate="novalidate" role="form">
  <label>Select a sample:</label>
  <%= select_tag "code_sample", options_for_select(@code_sample_options, @sample_path),
                 {
                         class: 'form-control',
                         style: 'width: 100%',
                         onchange: "document.location.href='/' + this.value"
                 } %>
</form>
<hr>
<h1 id="sandwich" class="page-header">Code Sample:
  <%= @sample_name %></h1>
<%= raw CodeRay.scan(@code_sample, :ruby).div(:line_numbers => :table) %>
<hr/>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#codeResult">
          Show Results
        </a>
      </h4>
    </div>
    <div id="codeResult" class="panel-collapse collapse">
      <div class="panel-body">
        <% unless @code_result.nil? %>
            <h4><%= @code_result.class %></h4>
            <%= raw CodeRay.scan(@code_result, :ruby).div(:break_lines => true) %>
        <% else %>
        <PRE>nil</PRE>
        <% end %>
        <% unless @std_output.to_s == '' %>
            <div class="alert alert-info">
              <h4>STDOUT</h4>
              <PRE><%= h @std_output %></PRE>
            </div>
        <% end %>
        <% unless @std_error.to_s == '' %>
            <div class="alert alert-warning">
              <h4>STDERR</h4>
              <PRE><%= h @std_error %></PRE>
            </div>
        <% end %>
        <% unless @syntax_error.nil? %>
            <div class="alert alert-danger">
              <h4>Syntax Error</h4>
              <PRE><%= h @syntax_error %></PRE>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
