<% content_for :title do %>Sandwich Form
<% end %>

<ol class="breadcrumb">
  <li><%= link_to 'Hash Notes', notes_home_path %></li>
  <li><%= link_to 'Why Care?', notes_home_path(:anchor => 'hashWhyCare') %></li>
  <li class="active">Sandwich Demo</li>
</ol>

<h1 id="sandwich" class="page-header">Sandwich Please!</h1>
<% unless @formvalues.nil? %>
    <div class="alert alert-success">
      <a href="http://ilikeikesplace.com/"><b>Hungry?</b>
        Check out Ike's Place for these real-life sandwiches!</a>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Yum! This is what I got:</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <PRE style="min-height: 250px"><%= JSON.pretty_generate(@formvalues.to_h) %></PRE>
          </div>
          <div class="col-md-4">
            <img class="img-responsive" style="max-height: 250px" src="http://www.memecreator.org/static/images/memes/2320262.jpg"/>
          </div>
        </div>

        <div class="well">
          <% unless @ancestry.nil? %>
              <% @ancestry.each_with_index do |kl, index| %>
                  <%= (index > 0) ? '<' : '' %>
                  <span <%= raw Hash == kl ? 'class="superbold"' : '' %>>
                  <%= kl.to_s %>
                  </span>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <hr/>
<% end %>
<%= bootstrap_form_for(@sandwich, url: notes_sandwich_path) do |f| %>
    <%= f.text_field :name %>
    <%= f.select(:sandwich, @sandwiches) %>
    <%= f.select(:options, [['Mustard', 'mustard'],
                            ['Cheese', 'cheese'],
                            ['Lettuce', 'lettuce'],
                            ['Salt', 'salt'],
                            ['Pepper', 'pepper'],
                            ['Tomato', 'tomato']],
                 {include_hidden: false},
                 {multiple: true, size: 6}
        ) %>
    <%= f.submit 'Place Order' %>
<% end %>
<hr/>
